@model List<BookKeeperModel>


    <h1>List</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
